<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mittaustiedot</title>
</head>

<body style="font-family:verdana">
<div class="app">
    <h1>Mittaukset</h1>
    <table>
        <tr>
            <th>Päivä</th>
            <th>Mittaus</th>
        </tr>
        {% for mittaus in taulukko %}
            <tr>
                <td>{{ paivat[mittaus.x-1] }}</td>
                <td>{{ mittaus.y }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>

</html>